@model List<Educator>
@{
    ViewData["Title"] = "Build";
    Layout = "~/Areas/panel/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Admin Paneli</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="d-flex align-items-center justify-content-center">
        <i class="fas fa-tools 9x"></i>

    </div>
    <br />
    <br /><br />
    <div class="d-flex align-items-center justify-content-center">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Eğitimci Listesi</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">

                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">
                                        Eğitimci Adı
                                    </th>
                                    <th style="width: 39%">
                                        Öğrenci Sayısı
                                    </th>
                                    <th style="width: 20%">
                                        Toplam Kazanç
                                    </th>
                                    <th style="width: 20%" class="text-center">
                                        Durum
                                    </th>
                                    <th style="width: 20%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Educator educator in Model)
                                {

                                    <tr>
                                        <td>
                                            @educator.NameSurname
                                        </td>
                                        <td>
                                            @educator.TotalStudent
                                        </td>
                                        <td>
                                            @educator.TotalStudent*10
                                        </td>
                                        <td class="project_progress">
                                        </td>
                                    </tr>


                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




