@model Educator
@{
    ViewData["Title"] = "EducatorPage";
    Layout = "~/Areas/panel/Views/Shared/_Layout.cshtml";
}

<ul>

    <li>
        @Model.About
    </li>
    <li>
        @Model.Courses
    </li>
</ul>

