@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h1>BURASI ADMIN ANA SAYFASI</h1>

Admin
Admin
Admin
Admin
Admin
<a asp-controller="Home" asp-action="Cikis">Çıkış</a>