
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(/images/big_image_2.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">

                <div class="mb-5 element-animate">
                    <h1 class="mb-2">Kayıt Ol</h1>
                    <p class="bcrumb"><a href="Index.cshtml">Anasayfa</a> <span class="sep ion-android-arrow-dropright px-2"></span>  <span class="current">Kayıt Ol</span></p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="form-wrap">
                    <h2 class="mb-5">Yeni Hesap Aç</h2>
                    <form action="#" method="post">

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="name">Email Adresi</label>
                                <input type="text" id="name" class="form-control py-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="name">Parola</label>
                                <input type="password" id="name" class="form-control py-2 ">
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 form-group">
                                <label for="name">Parolayı Tekrarla</label>
                                <input type="password" id="name" class="form-control py-2">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="submit" value="Register" class="btn btn-primary px-5 py-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
