<header role="banner">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">


            <a class="navbar-brand absolute" asp-controller="Home" asp-action="Index"><img style="width:200px;height:auto;" src="/images/uc_logo_uzun.png" /></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategoriler</a>
                        <!--Bu kısım yana açılır şekilde ve alt kategorilerin de alt kategorileri olacak şekilde düzenlenecek-->
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" href="#">HTML</a>
                            <a class="dropdown-item" href="#">WordPress</a>
                            <a class="dropdown-item" href="#">Laravel</a>
                            <a class="dropdown-item" href="#">JavaScript</a>
                            <a class="dropdown-item" href="#">Python</a>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Forum</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
                    </li>
      
                </ul>
                <ul class="navbar-nav absolute-right">
                    <li>
                        <a asp-controller="Home" asp-action="Login">Giriş Yap</a> /
                        <a asp-controller="Home" asp-action="Register">Kayıt Ol</a>
                       

                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

