@model IEnumerable<UniCourses.Dal.Entities.Comment>
</UniCourses.WebUI.ViewComponents.KursYorumlari>


    <div>
        @foreach (Comment comment in Model)
        {
            <ul>
                <div class="row m-3">
                    <div class="col-md-10">
                        <strong class="text-info">-@comment.MemberID</strong> <span class="text-muted">@comment.CommentDate.ToShortDateString() Tarihinde Yorumladı</span>
                    </div>
                    <i>"@comment.UserComment"</i>
                    <div style="width:100%;"><p style="text-align:right;"></p></div>
                </div>
            </ul>
           
        }
    </div>
