@model IEnumerable<UniCourses.Dal.Entities.Comment>
</UniCourses.WebUI.ViewComponents.KursYorumlari>


<div>
    @foreach (Comment comment in Model)
    {

        <div class="row m-3">
            <div class="col-md-10">
                <strong class="text-info">
                    <a asp-area="" asp-controller="Home" asp-action="UyeGoruntule" asp-route-id="@comment.MemberID">
                        @comment.MemberName
                    </a>
                </strong>
                <small class="text-muted">@comment.CommentDate.ToShortDateString()  tarihinde yorumladı</small>
            </div>
            <i>"@comment.UserComment"</i>
            <div style="width:100%;"><p style="text-align:right;"></p></div>
        </div>
        <hr />


    }
</div>
