@model UniCourses.Dal.Entities.Member
@{if (User.Identity.IsAuthenticated)
    {
        //if (Enum.IsDefined(Model.Member.Role, 1))
        if (Model.RoleNumber == 1)
        {
            <p class="nav-link mb-0 pb-0">
                <a class="btn btn-outline-primary" asp-area="educators" asp-controller="Home" asp-action="Rolata" asp-route-id="@Model.ID"> Eğitimci ol </a>
            </p>
            <input type="hidden" id="rnumber" value="2">
        }
        else if (Model.RoleNumber == 2)
        {
            <p class="nav-link mb-0 pb-0">
                <a class="btn btn-outline-primary" asp-area="educators" asp-controller="Home" asp-action="Index" asp-route-id="@User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Sid).Value">Eğitmen Sayfası </a>
            </p>
        }

        @* asp-route-id="@User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Sid).Value" *@
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Name).Value</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
                <a class="dropdown-item" asp-area="uye" asp-controller="Home" asp-action="Profil"><i class="fa fa-user" aria-hidden="true"></i> Profilim</a>
                <a class="dropdown-item" asp-area="uye" asp-controller="Home" asp-action="Kurslarim"><i class="fa fa-graduation-cap" aria-hidden="true"></i>  Kurslarım</a>
                <a class="dropdown-item" asp-area="uye" asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Sepetim</a>
                <a class="dropdown-item" asp-area="uye" asp-controller="Home" asp-action="Ayarlar"><i class="fa fa-sliders" aria-hidden="true"></i>  Ayarlar</a>
                <a class="dropdown-item" asp-area="uye" asp-controller="Home" asp-action="Cikis"><i class="fa fa-power-off" aria-hidden="true"></i>  Çıkış </a>
            </div>
        </li>
    }

}
