
@{
    ViewData["Title"] = "Build";
    Layout = "~/Areas/Educators/Views/Shared/_Layout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Eğitmen Paneli</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="d-flex align-items-center justify-content-center">
            <i class="fas fa-tools 9x"></i>

        </div>
        <br />
        <br /><br />
        <div class="d-flex align-items-center justify-content-center">
            <p style="font-size:2em;">Sayfa yapım aşamasındadır, anlayışınız için teşekkür ederiz.</p>
        </div>
        <!-- /.content -->
    </div>

