
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<h1>Index</h1>

<span>Hoş Geldiniz <span style="color:blue">@User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Name).Value</span></span>

<h1>BURASI EDUCATOR ANA SAYFASI</h1>
<a asp-controller="Home" asp-action="Cikis">Çıkış</a>




