
<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h3 class="heading">Sayfalar</h3>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                            <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                            <li><a asp-controller="Home" asp-action="Courses">Kurslar</a></li>
                        </ul>
                    </div>
                    @*<div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a asp-area="uye" asp-controller="Home" asp-action="Profil">Profil</a></li>
                                <li><a asp-area="uye" asp-controller="Home" asp-action="Kurslarim">Kurslarım</a></li>
                                <li><a asp-area="uye" asp-controller="Cart" asp-action="Index">Sepetim</a></li>
                                <li><a asp-area="uye" asp-controller="Home" asp-action="Ayarlar">Ayarlar</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h3 class="heading">İletişim</h3>
                <div class="block-23">
                    <ul>
                        <li><span class="icon ion-android-pin"></span><span class="text">Merkez Şube: (Mecidiyeköy) Fulya Mah. Garaj Sk. No:3/5 Şişli - İstanbul</span></li>
                        <li><a href="#"><span class="icon ion-ios-telephone"></span><span class="text">+90 212 909 21 89</span></a></li>
                        <li><a href="#"><span class="icon ion-android-mail"></span><span class="text">info@unicourses.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12 text-center copyright">
                <p class="float-md-right">
                    <a href="#" class="fa fa-facebook p-2"></a>
                    <a href="#" class="fa fa-twitter p-2"></a>
                    <a href="#" class="fa fa-linkedin p-2"></a>
                    <a href="#" class="fa fa-instagram p-2"></a>

                </p>
            </div>
        </div>
    </div>
</footer>